{% extends "blog/base.html" %}
{% block title %}
  <h1 class="mb-3">User List</h1>
{% endblock title %}
{% block content %}
  {% for profile in profiles %}
    <article class="media content-section">
      <img class="rounded-circle article-img" src="{{ profile.user.profile.image.url }}">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="{% url 'user-posts' profile.user.username %}">{{ profile.user.username }}</a>
          <small class="text-muted">{{ profile.created }}</small>
        </div>
        <a id="preview_link_btn{{ post.id }}" href="{% url 'profiles:profile-detail' profile.pk %}" class="btn btn-primary">Visit Profile</a>
      </div>
    </article>
  {% endfor %}
{% endblock content %}
